GridBackground {
    --grid-background-color: #282828;
    --line-color: rgba(193, 196, 192, 0.1);
    --thick-line-color: rgba(193, 196, 192, 0.1);
    --spacing: 10;
}

LogicNode #title-label
{
	background-color: white;
	border-radius: 10%;
	border-width: 1px;
	border-color: black;
    color: black;
}

LogicNode #IOField
{
    min-width: 80px;
}